<a href="https://colab.research.google.com/github/djansddas/colab/blob/main/Lession2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* 파이썬 2장
* 변수와 input() 함수

In [3]:
num1= 100
num2= 200
result1 =num1 + num2
result2 = num1 - num2
result3 = num1 * num2
result4 = num1 / num2
print(num1, "+", num2, "=", result1)
print(num1, "-", num2, "=", result1)
print(num1, "*", num2, "=", result1)
print(num1, "/", num2, "=", result1)

100 + 200 = 300
100 - 200 = 300
100 * 200 = 300
100 / 200 = 300

In [4]:
num1,num2=100,200 
result1, result2= num1+ num2, num1 -num2
result3, result4= num1 / num2 , num1* num2
print(num1, "+", num2, "=", result1)
print(num1, "-", num2, "=", result2)
print(num1, "/", num2, "=", result3)
print(num1, "*", num2, "=", result4)

100 + 200 = 300
100 - 200 = -100
100 / 200 = 0.5
100 * 200 = 20000

input()함수 예제

In [7]:
num1= input("첫번째 숫자 입력 ==>")
num2= int(input("두번째 숫자 입력 ==>"))
result = int(num1) + num2
print(num1,"+", num2, "=", result)

첫번째 숫자 입력 ==>100
두번째 숫자 입력 ==>200
100 + 200 = 300

* input()함수를 이용한 간단한 계산기

In [9]:
print("** 논술형 문제~ input() 함수를 이용한 간단한 계산기**")
num1= float(input("첫번째 숫자를 입력:"))
num2= float(input("두번째 숫자를 입력"))
print(num1, "+", num2, "=", num1 + num2)
print(num1, "-", num2, "=", num1 - num2)
print(num1, "*", num2, "=", num1 * num2)
print(num1, "*", num2, "=", num1 / num2)

** 논술형 문제~ input() 함수를 이용한 간단한 계산기**
첫번째 숫자를 입력:100
두번째 숫자를 입력200
100.0 + 200.0 = 300.0
100.0 - 200.0 = -100.0
100.0 * 200.0 = 20000.0
100.0 * 200.0 = 0.5

문자열예제

In [13]:
name= input("이름==>")
tel_number = input("전화번호==>")
print("제 이름은", name, "제 연락처는", tel_number, "입니다,")

이름==>이응
전화번호==>01012311234
제 이름은 이응 제 연락처는 01012311234 입니다,

In [17]:
## 택배를 보내기 위한 정보를 입력하세요. ##
name = input("이름==>")
address = input("주소==>")
gram= input("무게(g)==>")

이름==>응
주소==>서울 영등포구 여의도동 88
무게==>721

In [ ]:
print("## 택배를 보내기 위한 정보를 입력하세요. ##")
personName = input("받는사람:")
presonAddr = input("주소:")
weight=int(input("무게(g):"))

print("** 받는사람 ==>", personName)
print("** 주소==>", personAddr)

print("** 배송비==>", weight * 5," 원")

## 택배를 보내기 위한 정보를 입력하세요. ##