<a href="https://colab.research.google.com/github/djansddas/colab/blob/main/ression6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

소스코드

In [2]:
fact=1
friends_num=5

for i in range(1,friends_num+1,1):
  fact=fact*i
  print("A,B,C,D,E 학생들을 순서대로 세우는 경우의 수:", fact)

A,B,C,D,E 학생들을 순서대로 세우는 경우의 수: 1
A,B,C,D,E 학생들을 순서대로 세우는 경우의 수: 2
A,B,C,D,E 학생들을 순서대로 세우는 경우의 수: 6
A,B,C,D,E 학생들을 순서대로 세우는 경우의 수: 24
A,B,C,D,E 학생들을 순서대로 세우는 경우의 수: 120

펙토리얼

In [1]:
fact=1

for i in range(1,6,1) : 
  fact=fact*i
  print(fact)

1
2
6
24
120

for문 활용

In [ ]:
i,hap=0,0

for i in range(1001,2001,2):
  hap+=i

  print("1000에서 2000까지의 홀수의 합:", hap)

중첩 for 문

In [4]:
for i in range(3):
  for k in range(2):
    print("난생처음은 쉽습니다.^^(i값:",i,",k값:",k,")")

난생처음은 쉽습니다.^^(i값: 0 ,k값: 0 )
난생처음은 쉽습니다.^^(i값: 0 ,k값: 1 )
난생처음은 쉽습니다.^^(i값: 1 ,k값: 0 )
난생처음은 쉽습니다.^^(i값: 1 ,k값: 1 )
난생처음은 쉽습니다.^^(i값: 2 ,k값: 0 )
난생처음은 쉽습니다.^^(i값: 2 ,k값: 1 )

In [7]:
for i in range(2,10):
  for k in range(1,10):
    print(i,"x",k,"=",i*k)
  print("")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [ ]:
for i in range(0,3,1):
  print(i,": 난생처음 파이썬은 재미있습니다.^^")

while문의 무한 반복

In [10]:
hap=0
num1,num2=0,0
while True:
  num1=int(input("숫자1==>"))
  num2=int(input("숫자2==>"))

  hap=num1+num2
  print(num1,"+",num2,"=, hap")

  break

숫자1==>1
숫자2==>1
1 + 1 =, hap

In [ ]:
while True:
  num1=float(input("숫자1==>"))
  if num1

In [30]:
import random

count=0
while True:
r1= random.randint(1,6)
r2= random.randint(1,6)
r3= random.randint(1,6)
count=count+1
if r1=r2==r3:
  print("3개의 주사위는 모두",r1,"입니다.")
  print("같은 숫자가 나오기까지 ",count,"번 던졌습니다.")

IndentationError: ignored